<h1>Showing selected Article</h1>
<p>
 Title is <%= @article.title %>
</p>
<p>
  Description is <%= @article.description %>
</p>
<%= link_to "Edit this article", edit_article_path %>|
<%= link_to "Back to article list page", articles_path %>