<!DOCTYPE html>
<html>
<body>
<div class="center jumbotron">
  <h1>Alpha Blog</h1>
<%= link_to 'Sign up', "#", class: "btn btn-danger btn-xlg" %> |


</div>
<button type="button" onClick="FreshworksWidget('open')">Open</button>
<button type="button" onClick="FreshworksWidget('show')">Show</button>

</body>
</html>
