<!DOCTYPE html>
<div class="center jumbotron">
  <h1>Alpha Blog</h1>
<%= link_to 'Sign up', "#", class: "btn btn-danger btn-xlg" %> |
  <script>
      window.fwSettings={
          'widget_id':5102639
      };
      !function(){if("function"!=typeof window.FreshworksWidget){var n=function(){n.q.push(arguments)};n.q=[],window.FreshworksWidget=n}}()
  </script>
  <script type='text/javascript'>FreshworksWidget('hide')</script>
  <script type='text/javascript' src='https://freshwidget.freshpo.com/widgets/5102639.js' async defer></script>

</div>
<button type="button" onClick="FreshworksWidget('open')">Open</button>
<button type="button" onClick="FreshworksWidget('show')">Show</button>